<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
  </head>
  <body>
    <center>
        <h1>Welcome to My Show</h1>
        <table border="5px solid #000;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Mobile</th>
                    <th>Action</th>
                </tr>
            <thead>
            </tbody>
            {% for i in sss %}
            <tr>
                <th>{{i.id}}</th>
                <th>{{i.name}}</th>
                <th>{{i.email}}</th>
                <th>{{i.password}}</th>
                <th>{{i.mobile}}</th>
                <th>
                    <a href="{% url 'edit' i.id %}">edit</a>|
                    <a href="{% url 'delete' i.id %}">delete</a>
                </th>
            </tr>
            {% endfor %}
        </tbody>
        

        </table> 
        {% if users.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %} 
    </center>
  </body>
</html>
